$text-color-light: #000;
$border-color-light: #dee2e6;
$light-background: #f1f1f1;

$text-color-dark: #dee2e6;
$border-color-dark: #495057;
$dark-background: #303539;

div {
    &.nav-item {
        a {
            &.nav-link {
                color: $text-color-light;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100%;
                margin-right: -72px;
                border: 1px solid $light-background;
                margin-bottom: 8px;

                &.active {
                    background-color: $light-background;
                    color: $text-color-light;
                    border: 1px solid $border-color-light;
                }

                button.btn-close {
                    font-size: 0.6em;
                    margin-right: 12px;
                }
            }
        }
    }

    &.tab-content {
        border: 1px solid $border-color-light;
        border-radius: 8px;
    }

    &.list-group {
        width: fit-content;
        margin-left: 12px;
        border: 1px solid $border-color-light;
        border-top: 0;
        border-radius: 4px;

        div.list-group-item {
            border-bottom: 0;
            text-align: left;

            &.disabled {
                border: 0 !important;
            }

            &.active,
            &:hover {
                border-top: 0;
                border-bottom: 0;
                color: $text-color-light;
                background-color: $light-background;
            }
        }
    }
}

.spinner-grow {
    --bs-spinner-width: 1rem !important;
    --bs-spinner-height: 1rem !important;
    --bs-spinner-animation-speed: 1s !important;
    margin-right: 12px !important;
}

[data-bs-theme='dark'] {
    div {
        &.nav-item {
            a {
                &.nav-link {
                    color: $text-color-dark;
                    border: 1px solid $dark-background;

                    &.active {
                        background-color: $dark-background;
                        color: $text-color-dark;
                        border: 1px solid $border-color-dark;
                    }
                }
            }
        }

        &.tab-content {
            border: 1px solid $border-color-dark;
        }

        &.list-group {
            border: 1px solid $border-color-dark;

            div.list-group-item {

                &.active,
                &:hover {
                    color: $text-color-dark;
                    background-color: $dark-background;
                }
            }
        }
    }
}